*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #92a8d110;
}

header{
    background-color: #344472;
    box-shadow: 3px 3px 6px #00000050;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-content{
    margin: auto;
    width: 80%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: #ffffff;
    text-shadow: 2px 2px 2px #00000050;
}

header nav ul li{
    display: inline;
    padding: 5px 10px;
}

header nav ul li a{
    text-decoration: none;
    color: beige;
    font-size: 1.1rem;
    transition: all 0.15s;
}

header nav ul li a:hover{
    color: #7ba4e9;
    text-shadow: 2px 2px 2px #00000080;
}

header .book-now{
    background-color: #8794ac;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.15s;
}

header .book-now a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header .book-now:hover{
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #00000080;
    cursor: pointer;
}

header .book-now:hover a{
    color: #7ba4e9;
}

body {
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    min-width: 100%;
    height: 100%;
}
.slide img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.big-heading{
    position: absolute;
    top: 15%;
    left: 24%;
}


main .slider-container h1{
 font-size: 3rem;
  color: #ffffFF;

}

main .slider p{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    text-shadow: 2px 2px 4px #00000050;

    top: 38%;
    left: 10%;
}

main .slider-container .search{
    position: absolute;
    top: 40%;
    width: 100%;

    text-align: center;

}

main .slider-container .search input{
    padding: 20px 30px;
    border: none;
    width: 40%;
    box-shadow: 3px 3px 6px #00000050;
    border-radius: 5px;
    margin: 0 10px;
}

main .slider-container .search button{
    display: inline;
    padding: 18px 30px;
    border: none;
    box-shadow: 3px 3px 6px #00000050;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.15s;
}

main .slider-container .search button:hover{
   background-color: #344472;
   color: white;
   cursor: pointer;
}

button:active{
    opacity: 0.8;
}

main .introduction{
    width: 80%;
    margin: auto;

}

.welcome{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.svg-wrapper{
    flex: 1;
}

.content-wrapper{
    flex: 1;
    padding: 10px 20px;
    align-self: center;
}

main .introduction h1{
    font-size: 2rem;
    color: #344472;
    padding: 10px 0;
    margin: 10px;
}

main .introduction p{
    font-size: 1.3rem;
    /* color: #344472; */
    padding: 10px 0;
    margin: 10px;
}


main .introduction button{
    padding: 15px 30px;
    width: 90%;
    margin: 10px;
    color: white;
    background-color: #344472;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 4px #00000050;
    font-weight: bold;

}

main .introduction button:hover{
    background-color: #ffffff;
    color: #344472;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.svg-wrapper img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.section-heading{
    text-align: center;
    color: white;
    background-color: #344472;
    padding: 10px 0;

    width: 80%;
    margin: auto;
}

.section{
    width: 80%;
    margin: auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    
   
}

.section .water-fun{
    width: 50%;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
}

.section .water-fun img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    
}

.section .water-fun img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.section .water-fun .wfi-description{
    position: absolute;
    bottom: 20%;
    left: 20px;

    color: white;
    font-weight: bold;
    font-size: 2rem;

}

.section .water-fun button{
    position: absolute;
    bottom: 5%;
    left: 20px;

    background-color: #8794ac;
    border: none;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 20px;    
    box-shadow: 2px 2px 4px #00000050;
    transition: all 0.15s;
}

.section .water-fun button:hover{
    background-color: #ffffff;
    color: #344472;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}


.packages{
    /* background-color: #8794ac; */
    width: 80%;
    margin: 0 10% 0 10%;

    display: flex;
    flex-wrap: wrap;
}

.packages .package{
    background-color: white;
    height: 400px;
    flex: 1;
    min-width: 200px;
    margin: 10px;
    box-shadow: 2px 2px 4px #00000050;

    border-radius: 10px;
    display: inline-block;
}

.packages .package .package-image{
    background-color: aqua;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.packages .package .package-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.packages .package .package-description{
    padding: 30px 5px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.packages .package .package-description .package-description-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3px 6px;
}

.packages .package .package-description .package-description-description{
    padding: 3px 6px;
}

.packages .package .package-description .package-accept-button{
    margin: 10px 6px;
    padding: 15px 30px;
    border: none;
    background-color: #344472;
    border-radius: 10px;
    color: white;
    font-weight: bold;  
}

.packages .package .package-description .package-accept-button:hover, .pitches .pitch .pitch-description .pitch-explore-button:hover{
    cursor: pointer;
    color: #344472;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #00000050;

}

.pitches{
    background-color: #8794ac;
    height: 400px;
    width: 80%;
    margin: 0 10%;
}

.pitches .pitch{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pitches .pitch .pitch-image{
    width: 45%;
    min-width: 600px;
    height: 100%;

    display: inline-block;
    margin: 10px;
}

.pitches .pitch .pitch-image img{
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.pitches .pitch .pitch-description{
    display: inline-block;
    width: 45%;
    min-width: 600px;
    margin: 10px;
}

.pitches .pitch .pitch-description .pitch-description-title{
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 3px 6px;
}

.pitches .pitch .pitch-description .pitch-description-description{
    font-size: 1rem;
    margin: 10px 0;
    padding: 3px 6px;
}

.pitches .pitch .pitch-description .pitch-explore-button{
    
    margin: 10px 6px;
    padding: 15px 30px;
    border: none;
    background-color: #344472;
    border-radius: 10px;
    color: white;
    font-weight: bold;  
}

footer {
    background-color: #03254c;
    padding: 10px 20px;
    display: flex;
    color: #ffffff;
  }
  
  .footer-info-wrapper {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-around;
  }
  
  .foooter-info {
    margin-right: 20px;
  }
  
  .foooter-info-heading {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }